
* {
    --dark-green: #081c15;
    --light-green: #d8f3dc;
    --grey-green: #b7e4c7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: inherit;
}

body {
    background: var(--light-green);
}

.container {
    font-family: 'Andada Pro', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
}

/* top bar */

.top_bar {
    background-color: var(--dark-green);
    text-align: center;
    padding: 10px 20px;
    font-size: 10px;
}

.top_bar__logo {
    color: var(--light-green);
}

/* note */

.note {
    margin: 20px 40px;
    padding: 10px 20px;
    width: 200px;
    background: var(--dark-green);
    color: var(--light-green);
}

/* add note */

.add_note {
    display: flex;
    margin: 80px auto;
    max-width: 300px;
    flex-direction: column;
}

.add_note__title {
    margin-bottom: 10px;
}

.add_note__note {
    padding-bottom: 100px;
    margin-bottom: 10px;
}

.add_note__button {
    
}


/* footer */

.site_footer {
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    font-size: 8px;
}

.site_footer__copyright {
}